<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Moodify">
    <meta name="keywords" content="Moodify, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moodify | Play Music Like Your MOOD</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nowfont.css" type="text/css">
    <link rel="stylesheet" href="/static/css/rockville.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/emotionDetection">Emotion Detection</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="/static/img/background-5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <h1>Moodify !</h1>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br />tempor
                            incididunt ut labore et dolore magna aliqua.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Youtube Section Begin -->
    <section class="youtube spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>- Choose your Mood -</h2>
                        <h1>Latest videos</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="/lang-choose/happy">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/happy-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Feeling Happy !</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/sad">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/sad-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Feeling Sad...</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="/lang-choose/fear">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/fear-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Fear</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/broken">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/broken-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Broken</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/angry">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/angry-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Angry</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/gratitude">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/gratitude-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Gratitude</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/romantic">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/romantic-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Romantic</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/boredom">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/boredom-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Boredom</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <a href="/lang-choose/calm">
                            <div class="youtube__item__pic set-bg" data-setbg="/static/img/emotions/calm-1.jpg">
                            </div>
                            <div class="youtube__item__text">
                                <h4>Calm</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Youtube Section End -->

    <div class="container">
        <hr>
    </div>

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="/static/img/about/about.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <h2>Emotion Detection</h2>
                            <h1>About Feature</h1>
                        </div>
                        <p>Emotion Detection is feature where you can Detect your Emotions based on Test.</p>
                        <a href="#" class="primary-btn">CONTACT ME</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <div class="container">
        <hr>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer spad set-bg" data-setbg="/static/img/footer-bg.png" style="margin-top: auto;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p>Phone</p>
                                <h6>1-677-124-44227</h6>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <p>Email</p>
                                <h6>DJ.Music@gmail.com</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__social">
                        <h2>Moodify</h2>
                        <div class="footer__social__links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6">
                    <div class="footer__newslatter">
                        <h4>Stay With me</h4>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.barfiller.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>

    <!-- Music Plugin -->
    <script src="/static/js/jquery.jplayer.min.js"></script>
    <script src="/static/js/jplayerInit.js"></script>
</body>

</html>